* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Mountains of Christmas", serif;


  /* TAUSTAKUVAN TEMPLATE
  background-image: url("oma-taustakuva.jpg");
  background-size: cover;
  background-position: center;
  */
  background-image: url(Kuvat/indexTausta.avif) ;
}

.container {
  width: 900px;
  height: 650px;
  border: 1.5px solid rgba(255, 0, 0, 0.066);
  border-radius: 6px;
  margin: 15px auto;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;

  padding: 10px;
  background: rgba(255, 255, 255, 0.15);

  box-shadow: 
  0 4px 8px rgba(0, 0, 0, 0.3),
  0 16px 32px rgba(0, 0, 0, 0.3);
}

.luukku {
  background: linear-gradient(93deg,rgba(255, 58, 58, 0.75) 0%, rgba(212, 34, 6, 0.75) 100%);  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-style: dashed;
  border-radius: 2px;
  transition: transform 0.2s, background 0.3s;
  user-select: none;
}


.luukku:hover {
  transform: scale(1.08); 
  box-shadow: 0 0 20px 5px rgba(255, 191, 0, 0.7);
}

.avaa {
  background: #006400 !important;
  color: #fff;
}

.snowflake {

  color: #fff;

  font-size: 1em;

  font-family: Arial, sans-serif;

  text-shadow: 0 0 5px #000;

}

.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;pointer-events:none;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}



